@import "variables";
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// @import "mixins";
// @import "flex-mixin";
// @import "time";


html{
  height: 100vh;
}
body{
  min-height: 100vh;
  display: flex;
  background-color: $brand-primary;
  color: skyblue;
}
