html{
	height: 100vh;
}

body{
  min-height: 100vh;
	background-color: $body-bg;
	// color: $text-color;
}

body,
.container-body {
  display: flex;
  flex-direction: column;
}

header,
footer{
	flex: none;
	background: rgba(147,128,108,0.1);
}

footer{
	display: none;
}

.side-nav {
	width: 250px;
  order: -1;
}
.right-list {
	display: none;
	background-color: deepskyblue;
}

@media (min-width: $screen-sm-min) {
  .container-body {
    flex-direction: row;
    flex: 1;
  }
  main {
    flex: 1;
  }
  .side-nav, .right-list {
    // flex: 0 0 12em;
  }
}
