<h2><i class="fa fa-calendar"></i> Bookings</h2>

<div class="row">
    <div class="col-sm-12">
        <button
            class="btn btn-link pull-left"
            mwl-date-modifier
            date="bookctrl.viewDate"
            decrement="bookctrl.calendarView"
            ng-click="bookctrl.cellIsOpen = false">
            Previous
        </button>
        <button
            class="btn btn-link pull-right"
            mwl-date-modifier
            date="bookctrl.viewDate"
            increment="bookctrl.calendarView"
            ng-click="bookctrl.cellIsOpen = false">
            Next
        </button>
        <h3
            class="text-center"
            style="margin-top:0;"
            mwl-date-modifier
            date="bookctrl.viewDate"
            set-to-today
            ng-click="bookctrl.cellIsOpen = false"
            >
            {{bookctrl.calendarTitle}}
        </h3>
    </div>

    <div class="col-sm-12">
        <mwl-calendar
        view="bookctrl.calendarView"
        view-date="bookctrl.viewDate"
        events="bookctrl.events"
        view-title="bookctrl.calendarTitle"
        on-view-change-click="false"
        cell-auto-open-disabled="true"
        on-timespan-click="bookctrl.eventClicked(calendarCell)"
        custom-template-urls="{calendarMonthCell: 'customDayCell.html'}"
        >
        </mwl-calendar>
    </div>
</div>


<script id="customDayCell.html" type="text/ng-template">
    <div class="cal-month-day custom-cell" ng-class="{'custom-cell-disabled': day.events[0].is_holiday == 1}">
    <!-- <div class="cal-month-day custom-cell" ng-class="{'custom-cell-disabled': day.events[0].is_holiday == 1 || day.events[0].total_appointments == day.events[0].remaining_appointments}"> -->
    <!-- ng-class="{'custom-cell-past' : day.isPast}"> -->
    <!-- <pre>{{day | json}}</pre> -->
        <h3
            class="custom-cell-day"
            data-cal-date
            ng-click="vm.calendarCtrl.dateClicked(day.date)"
            ng-bind="day.label">
        </h3>
        <div>
        <!-- ng-if="!day.isPast" -->
            <div ng-if="day.events[0].is_holiday == 0">
                <h6 class="bg-success custom-cell-info">{{day.events[0].total_appointments}}</strong> appointments</h6>
            </div>
            <div ng-if="day.events[0].is_holiday == 1">
                <h6 class="bg-info custom-cell-info">Holiday</h6>
            </div>
        </div>
    </div>
</script>
